extends ../layout

block content
	h1 Create tier

	form(action='/tier', method='POST')
		input(type='hidden', name='environment', value='#{req.param("environment")}')
		input(type='hidden', name='platform', value='#{req.param("platform")}')
		dl
			dt Name
			dd
				input(type='text', name='name', value='')
			dt Base Image
			dd
				select(name='base_image')
					option(valaue='') Select base image
					each image in images
						option(value='#{image.id}') #{image.name} - #{image.version}
			dt Base Package
			dd
				select(name='base_package')
					option(valaue='') Select base package
					each package in packages
						option(value='#{package.id}') #{package.name}
			dt Networks
			dd
				table.table
					thead
						tr
							th(width=20)
							th(width=20) Home
							th(colspan=2) Name
					tbody
						each network in networks
							tr
								td
									input(type='checkbox', name='networks[]', value='#{network.id}')
								td
									input(type='radio', name='home_network', value='#{network.id}')
								td(width=10)
									if network.public
										span.label.label-success public
									else
										span.label.label-warning private
								td= network.name

		.btn-group
			input.btn.btn-default(type='submit', value='Save')
