extends ../layout

block append breadcrumbs
	ol.breadcrumb
		li
			a(href='/environment/#{tier.environment.id}')= tier.environment.name
		li
			a(href='/platform/#{tier.platform.id}')= tier.platform.name
		li.active= tier.name

block content
	if machines.length === 0
		.btn-group.pull-right
			a.btn.btn-danger.btn-sm(href='/tier/#{tier.id}', data-confirm='Delete tier?', data-method='DELETE') Delete
	.btn-group.pull-right
		a.btn.btn-info.btn-sm(href='/tier/#{tier.id}/edit') Edit

	h1 Tier

	dl
		dt Name
		dd= tier.name
		dt Id
		dd= tier.id
		if tier.platform
			dt Platform
			dd
				a(href='/platform/#{tier.platform.id}')= tier.platform.name
		if tier.environment
			dt Environment
			dd
				a(href='/environment/#{tier.environment.id}')= tier.environment.name
		if tier.cfpersonas
			dt cfEngine Personas
			dd
				a(href='/cf/personas/#{tier.cfpersonas.id}')= tier.cfpersonas.name

	h3 Machines
	if machines.length
		dl
			each machine in machines
				dd
					a(href='/machine/#{machine.id}')= machine.name
	else
		p
			strong There are no available machines
	p
		a.btn.btn-default(href='/machine/?environment=#{tier.environment.id}&platform=#{tier.platform.id}&tier=#{tier.id}', data-confirm='Create machine?', data-method='POST') create new machine
