extends ../layout

block append breadcrumbs
	ol.breadcrumb
		li.active= environment.name

block content
	if platforms.length === 0
		.btn-group.pull-right
			a.btn.btn-danger.btn-sm(href='/environment/#{environment.id}', data-confirm='Delete environment?', data-method='DELETE') Delete
	.btn-group.pull-right
		a.btn.btn-info.btn-sm(href='/environment/#{environment.id}/edit') Edit

	h1 Environment

	dl
		dt Name
		dd= environment.name
		dt Id
		dd= environment.id

	h3 Platforms
	#platforms.panel-group
	each platform in platforms
		.panel.panel-default
			.panel-heading
				h4.panel-title
					.pull-right
						a(href='/platform/#{platform.id}')
							span.glyphicon.glyphicon-th-list
					a(href='##{platform.id}', data-toggle='collapse', data-parent='#platforms')
						=platform.name
			.panel-collapse.collapse.in(id='#{platform.id}')
				.panel-body
					dl
						dt Tiers
						each tier in platform.tiers
							dd
								a(href="/tier/#{tier.id}")= tier.name
						else
							p This platform has no tiers defined
	.btn-group
		a.btn.btn-default(href="/platform/new?environment=#{environment.id}") create new platform

	h3 Stingrays
	if stingrays.length
		dl
			each stingray in stingrays
				dd
					a(href='/stingray/#{stingray.id}')= stingray.name
	else
		p
			strong There are no available stingrays
	p
		a.btn.btn-default(href='/stingray/new?environment=#{environment.id}') Add
