extends ../layout

block content
	h1 Create machine

	form(action='/machine', method='POST')
		input(type='hidden', name='environment', value='#{req.param("environment")}')
		input(type='hidden', name='platform', value='#{req.param("platform")}')
		input(type='hidden', name='tier', value='#{req.param("tier")}')
		dl
			dt Name
			dd
				input(type='text', name='name', value='#{machine.name}')
			dt Count
			dd
				select(name='count')
					option(value=1) 1
					option(value=2) 2
					option(value=3) 3
					option(value=4) 4
					option(value=5) 5
					option(value=6) 6
					option(value=7) 7
					option(value=8) 8
			dt cfEngine Personas
			dd
				select(name='cfpersonas')
					option(valaue='') Select cfEngine Personas
					each item in cfpersonas
						option(value='#{item.id}') #{item.name}
			dt cfEngine Personas Mode
			dd
				select(name='cfpersonas_mode')
					option(value='merge') merge with parent
					option(value='override') ignore parent personas

		.btn-group
			input.btn.btn-default(type='submit', value='Save')
