extends ../layout

block append breadcrumbs
	ol.breadcrumb
		li
			a(href='/environment/#{machine.environment.id}')= machine.environment.name
		if machine.tier
			if machine.platform
				li
					a(href='/platform/#{machine.platform.id}')= machine.platform.name
			li
				a(href='/tier/#{machine.tier.id}')= machine.tier.name
		li.active= machine.name

block content
	h1 Machine

	dl
		dt Name
		dd= machine.name
		dt State
		dd= machine.state
		dt Id
		dd= machine.id
		if machine.tier
			dt Tier
			dd
				a(href='/tier/#{machine.tier.id}')= machine.tier.name
		if machine.platform
			dt Platform
			dd
				a(href='/platform/#{machine.platform.id}')= machine.platform.name
		if machine.environment
			dt Environment
			dd
				a(href='/environment/#{machine.environment.id}')= machine.environment.name

	if !machine.tier && tiers.length
		h4 This machine is not linked to any tier
		form(action='/machine/#{machine.id}/set_tier', method='POST')
			.form-group
				select(name='tier')
					each tier in tiers
						option(value='#{tier.id}')= tier.name

			.form-group
				input.btn.btn-default(type='submit', value='link to Tier')
