extends ../layout

block append breadcrumbs
	ol.breadcrumb
		li
			a(href='/environment/#{platform.environment.id}')= platform.environment.name
		li.active= platform.name

block content
	if tiers.length === 0
		.btn-group.pull-right
			a.btn.btn-danger.btn-sm(href='/platform/#{platform.id}', data-confirm='Delete platform?', data-method='DELETE') Delete
	.btn-group.pull-right
		a.btn.btn-info.btn-sm(href='/platform/#{platform.id}/edit') Edit

	h1 Platform

	dl
		dt Name
		dd= platform.name
		dt Id
		dd= platform.id
		if platform.environment
			dt Environment
			dd
				a(href='/environment/#{platform.environment.id}')= platform.environment.name

	h3 Tiers
	if tiers.length
		dl
			each tier in tiers
				dd
					a(href='/tier/#{tier.id}')= tier.name
	else
		p
			strong There are no available tiers
	p
		a.btn.btn-default(href='/tier/new?environment=#{platform.environment.id}&platform=#{platform.id}') Add
