extends ../layout

block append breadcrumbs
	ol.breadcrumb
		li
			a(href='/environment/#{platform.environment.id}')= platform.environment.name
		li.active= platform.name

block content
	if tiers.length === 0
		.btn-group.pull-right
			a.btn.btn-danger.btn-sm(href='/platform/#{platform.id}', data-confirm='Delete platform?', data-method='DELETE') Delete
	.btn-group.pull-right
		a.btn.btn-info.btn-sm(href='/platform/#{platform.id}/edit') Edit

	h1 Platform

	dl
		dt Name
		dd= platform.name
		dt Id
		dd= platform.id
		if platform.environment
			dt Environment
			dd
				a(href='/environment/#{platform.environment.id}')= platform.environment.name

	h3 Tiers
	#tiers.panel-group
	each tier in tiers
		.panel.panel-default
			.panel-heading
				h4.panel-title
					.pull-right
						a(href='/tier/#{tier.id}')
							span.glyphicon.glyphicon-th-list
					a(href='##{tier.id}', data-toggle='collapse', data-parent='#tiers')
						=tier.name
			.panel-collapse.collapse.in(id='#{tier.id}')
				.panel-body
					dl
						dt Machines
						each machine in tier.machines
							dd
								a(href="/machine/#{machine.id}")= machine.name
						else
							p This tier has no machines bound
	.btn-group
		a.btn.btn-default(href='/tier/new?environment=#{platform.environment.id}&platform=#{platform.id}') create new tier
